.contents {
    margin: 20px 12px;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: row;
        gap: 4px;
        list-style-type: none;
        margin: 8px 0;
        overflow-x: auto;
        width: 100%;

        button {
            background-color: transparent;
            border: none;
            font-size: 0.9rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }
        img {
            border-radius: 16px;
            width: 240px;
        }
    }
}
