.nav {
    background-color: var(--background);
    position: fixed;

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        img {
            filter: invert(1);
        } 
    }
}

@media screen and (max-width: 768px) {
    .nav {
        bottom: 0;
        height: 52px;
        width: 100%;

        h2 {
            display: none;
        }
        menu {
            display: none;
        }
        #mainMenu {
            align-items: center;
            display: flex;
            font-size: 0.6rem;
            height: 100%;
            justify-content: space-around;
            text-align: center;
    
            a {
                flex: 1 1 0;
            }
            img {
                display: block;
                height: 20px;
                margin-bottom: 4px;
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .nav {
        height: 100%;
        left: 0;
        padding: 0px 12px;
        top: 0;

        h2 {
            padding: 16px 12px;
        }
        menu {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            width: 200px;

            a {
                align-items: center;
                border-radius: 16px;
                display: flex;
                gap: 20px;
                height: 40px;
                padding: 0px 12px;

                &:hover {
                    background-color: var(--hover);
                }
            }
            img {
                height: 24px;
            }
        }
    }
    .active {
        background-color: var(--hover);
    }
}
