main {
    margin-bottom: 52px;
    padding: 8px;

    #content-settings {
        align-items: center;
        display: flex;
        margin: 8px;

        label {
            margin-right: 12px;
        }
        input {
            appearance: none;
            background-color: #ccc;
            border-radius: 20px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
            height: 20px;
            transition: .4s;
            width: 40px;

            &::before {
                background-color: white;
                border-radius: 50%;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
                content: "";
                height: 20px;
                position: absolute;
                transform: scale(1.1);
                transition: transform .4s;
                width: 20px;
            }
            &:checked {
                background-color: #21e732b6;
            }
            &:checked::before {
                transform: translateX(20px);
            }
        }
    }
}