@mixin button {
    border-radius: 12px;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    transition: all .3s;

}

.solid {
    @include button;

    background-color: var(--button-solid);
    color: var(--text-inverted);

    &:hover {
        background-color: var(--button-solid-hover);
    }
}
.soft {
    @include button;

    background-color: var(--button-soft);
    border: 2px solid var(--text);
    color: var(--text);

    &:hover {
        background-color: var(--button-soft-hover);
    }
}