.content {
    margin: 1rem auto;
    max-width: 680px;

    h2 {
        margin: 1rem 0.25rem 0.5rem 0;
        text-wrap: balance;
    }
    p {
        line-height: 1.4rem;
        margin: 0.75rem 0;
        text-indent: 0.5rem;
    }
    abbr {
        text-decoration: underline;
    }
    figure {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.75rem 0 2.5rem;
        position: relative;
        width: 100%;

        img {
            margin: auto;
            max-width: 100%;
        }
        figcaption {
            bottom: 0;
            font-size: 0.9rem;
            font-style: italic;
            margin: 0.25rem 0;
            position: absolute;
            text-align: center;
            transform: translateY(150%);
        }
    }
    hr {
        border-color: var(--text-gray);
    }
    mark {
        background-color: transparent;
        color: inherit;
        padding: 0 0.25rem;
    }
    table {
        border-collapse: collapse;
        margin: 0.75rem auto;

        th, td {
            border: 1px solid var(--text);
            padding: 0.25rem;
        }
    }
    video {
        border: 1px solid black;
        border-radius: 12px;
        box-shadow: 0 0 8px black;
        margin: 0.75rem 0;
        width: 100%;
    }
    math {
        font-size: 1.1rem;
    }
    .formula {
        background-color: var(--box);
        border: 1px solid #9b9b9b;
        border-radius: 4px;
        box-shadow: 2px 2px 2px #0000003f;
        display: block;
        font-family: inherit;
        padding: 0.5rem 1.5rem 0.5rem 0.75rem;
        white-space: pre-line;
        width: max-content;
    }
    .poem {
        font-size: 1.2rem;
        margin: 0.75rem 0;
        white-space: pre-wrap;
    }
    &:empty::before {
        color: var(--text-gray);
        content: attr(placeholder);
        display: inline;
    }
    .emptyEditor::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
    .emptyNode::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}
.title {
    margin-bottom: 1.5rem;
    text-align: center;

    h1 {
        font-size: 1.8rem;
    }
    span {
        color: var(--text-gray);
        font-size: 1rem;
        font-style: italic;
    }
}

@media screen and (min-width: 768px) {
    .content {
        margin: 1rem auto;
    }
}